.loadContainer {
  height: 100vh;
  width: calc(100vw - 15px);
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.loadBox {
  top: 0;
  width: 100%;
  height: 100vh;
  display: inline-block;
  margin: 0 auto;
  animation-name: loaded;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: antiquewhite;
  font-size: 2rem;
  z-index: 1;
}

.load {
  opacity: 0;
}

@keyframes loaded {
  0% {
  }

  20% {
    width: 50vw;
    height: 50vw;
    transform: rotate(0);
  }
  30% {
    transform: rotate(200deg);
  }
  70% {
    transform: rotate(200deg);
  }
  100% {
  }
}
