.heroImg {
    width: 100%;
    height: 100vh;
    background: rgb(55,55,63);
    background: linear-gradient(285deg, rgba(55,55,63,1) 0%, rgba(195,193,193,1) 100%);
}

.title {
    z-index: 2;
}

.section {
    width: 85vw;
    margin: 0 auto;
}