.table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.thead {
    display: block;
    padding: 40px 0;
}

.tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

@media screen and (min-width:768px){

    .tr {
        font-size: 1.3rem;
    }

}