.hero {
    height: 40vh;
    display: flex;
    position: relative;
    align-items: center;
    background: rgb(55,55,63);
    background: linear-gradient(285deg, rgba(55,55,63,1) 0%, rgba(195,193,193,1) 100%);

    & > div {
        text-align: center;
    }
}

.canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.title {
    position: relative;
    z-index: 2;
}